<?xml version="1.0"?>
<!--
/**
 * acl
 * @copyright Copyright © 30 Demo. All rights reserved.
 * @author    uvarov.vova@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Store_Test::pixel" title="Pixel" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
