<?xml version="1.0"?>
<!--
/**
 * routes
 * @copyright Copyright © 30 Demo. All rights reserved.
 * @author    uvarov.vova@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="store_test" frontName="store_test">
            <module name="Store_Test" />
        </route>
    </router>
</config>
